---
import type { CollectionEntry } from 'astro:content';

import MinimalProjectCard from './ui/minimal-project-card.astro';

type Props = {
  projects?: CollectionEntry<'projects'>[];
  className?: string;
};

const { projects = [], className = '' } = Astro.props;

const firstNineProjects = projects.slice(0, 9);
const remainingProjects = projects.slice(9);
---

<section class='projects-section'>
  <div class={`container-center first-batch ${className}`}>
    {firstNineProjects.map(project => <MinimalProjectCard project={project} />)}
  </div>

  {
    remainingProjects.length > 0 && (
      <div class={`container-center second-batch ${className}`}>
        {remainingProjects.map(project => (
          <MinimalProjectCard project={project} />
        ))}
      </div>
    )
  }
</section>

<style>
  .projects-section {
    overflow: hidden;
  }
</style>
