---
import { getCategoriesWithCount } from '@/shared/hooks/get-unique-categories';

import CategoryCard from './ui/category-card.astro';

const categories = await getCategoriesWithCount('posts');
---

<section class='categories-list'>
  {
    categories.map(category => (
      <CategoryCard
        categoryName={category.name}
        count={category.count}
      />
    ))
  }
</section>

<style>
  .categories-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 2rem;
    padding: 1.5rem;
  }

  @media (min-width: 640px) {
    .categories-list {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .categories-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
