---
import Badge from '@/components/base/badge.astro';

type TagsProps = {
  tags: string[];
  contentType: 'posts' | 'projects';
};


const { tags, contentType } = Astro.props;
---

<div class='tags'>
  {
    tags.length > 0 &&
      tags.map(tag => {
        return (
          <a href={`/${contentType}/tag/${tag.trim().toLowerCase()}/`}>
            <Badge
              variant='outline'
              title={tag}
              class='tag-badge'>
              {tag}
            </Badge>
          </a>
        );
      })
  }
</div>

<style>
  .tags {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .tag-badge:hover {
    background-color: rgb(47 72 88 / var(--tw-bg-opacity, 1)) /* #2f4858 */;
    color: white;
  }
</style>
