---
import Card from '@/components/base/card.astro';

// Define the type for a single skill item
export interface Skill {
  title: string;
  description: string;
  icon: string;
}

type Props = {
  skill: Skill;
};

const { skill } = Astro.props;
---

<Card class='skill-card'>
  <div slot="content" class="skill-content">
    <!-- You can use the icon path here, perhaps with an <Icon> component if you have one, or just an <img> tag -->
    <img src={skill.icon} alt={skill.title} class="skill-icon" width="48" height="48" loading="lazy" />
    <h3 class="skill-title">{skill.title}</h3>
    <p class="skill-description">{skill.description}</p>
  </div>
</Card>

<style>
  /*
  .skill-card {
    
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card));
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }*/
  
.skill-card {
  flex: 0 0 calc(33.33% - 1.25rem);
  display: flex;
  flex-direction: column;

  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--card));
  padding: 0.5rem 1.5rem;
}

  .skill-icon {
    margin-bottom: 1rem;
  }
  .skill-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .skill-description {
    font-size: 0.9rem;
    color: hsl(var(--muted-foreground));
  }
</style>