---
import ContactForm from '@/components/base/contact-form.astro';

import BaseLayout from '@/app/layouts/base-layout.astro';

const title = 'Contact Page';
const description =
  "Get in touch with us through our Contact page. Whether you have questions, feedback, or need support, we're here to help. Find our contact details, email, and social media links for quick and easy communication.";
---

<BaseLayout
  title={title}
  description={description}>
  <main class='main mt-10'>
    <h1 class='post-title'>Let’s Connect</h1>
    <p class='intro-text'>
      Have a project, idea, or question? I’d love to hear from you. Whether it’s about collaboration, tech, or just a chat—reach out and let’s build something great together.
    </p>
    <ContactForm />
  </main>
</BaseLayout>

<style>
  .intro-text {
    margin-top: 1rem;
    line-height: 1.6;
  }
</style>
