---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import Button from '@/components/base/button.astro';
import HeadingBlock from '@/components/layout/heading-block.astro';
import Pagination from '@/components/layout/pagination.astro';

import Projects from '@/components/project/projects.astro';

import { siteConfig } from '@/app/config/site';
import BaseLayout from '@/app/layouts/base-layout.astro';

const allProjects = await getCollection('projects', ({ data }) => !data.isDraft);

const sortedProjects = allProjects.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const numberOfPages = Math.ceil(sortedProjects.length / siteConfig.postsPerPage);

export const getStaticPaths = (async ({ paginate }) => {
  // data
  const allProjects = await getCollection('projects', ({ data }) => !data.isDraft);
  return paginate(
    allProjects.sort((a, b) => {
      return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
    }),
    {
      pageSize: siteConfig.postsPerPage,
    }
  );
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const title =
  page.currentPage === 1 ? siteConfig.title : siteConfig.title + ' ' + 'Page ' + page.currentPage;


---


<BaseLayout title={title}>
  <main class='main'>
    {
      <Projects projects={page.data} />
    }
    {
      numberOfPages > 1 && (
        <Pagination
          currentPage={page.currentPage}
          numPages={numberOfPages}
          slug='/'
        />
      )
    }
  </main>
</BaseLayout>
