---
import CategoriesList from '@/components/categories/categories-list.astro';

import BaseLayout from '@/app/layouts/base-layout.astro';
---

<BaseLayout>
  <header class='heading-header'>
    <h1 class='heading-title'>
      Explore by
      <span class='heading-highlight'>Categories</span>
    </h1>
    <p class='heading-description'>
      Browse projects by core domain—ranging from supply chain analytics and KPI dashboards to AI/ML systems and full-stack web development.
    </p>
  </header>
  <CategoriesList contentType="project"/>
</BaseLayout>
