---
export interface Props {
  [key: string]: any;
}

const { ...props } = Astro.props;
---

<p
  class='mdx-paragraph'
  {...props}>
  <slot />
</p>

<style>
  .mdx-paragraph {
    margin: 1rem 0;
    line-height: 1.6;
    color: hsl(var(--foreground));
  }

  :global(.dark) .mdx-paragraph {
    color: hsl(var(--foreground));
  }
</style>
